<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.cumulonimbus.barometernetwork"
    android:versionCode="0500001"
    android:versionName="5.0.0ALPHA" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.c2dm.permission.REGISTER" />
    <uses-permission android:name="ca.cumulonimbus.barometernetwork.permission.C2D_MESSAGE" />

    <permission
        android:name="ca.cumulonimbus.barometernetwork.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.barometer"
        android:required="false" />

    <permission
        android:name="ca.cumulonimbus.barometernetwork.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ca.cumulonimbus.barometernetwork.permission.MAPS_RECEIVE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="PressureNetApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name="ca.cumulonimbus.barometernetwork.NotificationReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.REGISTER" />

                <category android:name="ca.cumulonimbus.barometernetwork" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!--
           Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
           installation campaign reporting
        -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <service
            android:name="ca.cumulonimbus.pressurenetsdk.CbService"
            android:enabled="true" >
            <intent-filter>
                <action android:name="ca.cumulonimbus.pressurenetsdk.ACTION_SEND_MEASUREMENT" />
                <action android:name="ca.cumulonimbus.pressurenetsdk.ACTION_REGISTER" />
                <action android:name="ca.cumulonimbus.pressurenetsdk.WEATHER_FORECAST_ALERT" />
            </intent-filter>
        </service>

        <service
            android:name="ca.cumulonimbus.barometernetwork.ForecastService"
            android:enabled="true" >
        </service>
        
        <activity android:name="org.achartengine.GraphicalActivity" />
        <activity
            android:name="ca.cumulonimbus.barometernetwork.NewWelcomeActivity"
            android:excludeFromRecents="true"
            android:label="@string/activity_welcome"
            android:theme="@style/CustomTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.cumulonimbus.barometernetwork.BarometerNetworkActivity" />
        </activity>
        
        <activity
            android:name="ca.cumulonimbus.barometernetwork.ForecastDetailsActivity"
            android:excludeFromRecents="true"
            android:label="Forecast Alerts"
            android:theme="@style/CustomThemeDialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.cumulonimbus.barometernetwork.BarometerNetworkActivity" />
        </activity>
        <activity
            android:name="ca.cumulonimbus.barometernetwork.PlayServicesLegalActivity"
            android:excludeFromRecents="true"
            android:label="Legal Notices"
            android:parentActivityName="ca.cumulonimbus.barometernetwork.BarometerNetworkActivity"
            android:theme="@style/CustomTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.cumulonimbus.barometernetwork.BarometerNetworkActivity" />
        </activity>
        <activity
            android:name="ca.cumulonimbus.barometernetwork.AboutActivity"
            android:excludeFromRecents="true"
            android:label="@string/about"
            android:parentActivityName="ca.cumulonimbus.barometernetwork.BarometerNetworkActivity"
            android:theme="@style/CustomTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.cumulonimbus.barometernetwork.BarometerNetworkActivity" />
        </activity>
        <activity
            android:name="ca.cumulonimbus.barometernetwork.HelpActivity"
            android:excludeFromRecents="true"
            android:label="Help"
            android:parentActivityName="ca.cumulonimbus.barometernetwork.BarometerNetworkActivity"
            android:theme="@style/CustomTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.cumulonimbus.barometernetwork.BarometerNetworkActivity" />
        </activity>
        <activity
            android:name="ca.cumulonimbus.barometernetwork.CurrentConditionsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="What's it like outside?"
            android:theme="@style/CustomThemeDialogDark" >
        </activity>
        <activity
            android:name="ca.cumulonimbus.barometernetwork.PreferencesActivity"
            android:excludeFromRecents="true"
            android:label="@string/settings"
            android:parentActivityName="ca.cumulonimbus.barometernetwork.BarometerNetworkActivity"
            android:theme="@style/CustomTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.cumulonimbus.barometernetwork.BarometerNetworkActivity" />
        </activity>
        <activity
            android:name="ca.cumulonimbus.barometernetwork.LogViewerActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="My data"
            android:parentActivityName="ca.cumulonimbus.barometernetwork.BarometerNetworkActivity"
            android:theme="@style/CustomTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.cumulonimbus.barometernetwork.BarometerNetworkActivity" />
        </activity>
        <activity
            android:name="ca.cumulonimbus.barometernetwork.PNDVActivity"
            android:excludeFromRecents="true"
            android:label="@string/pndv"
            android:theme="@style/CustomTheme" >
        </activity>
        <activity
            android:name="ca.cumulonimbus.barometernetwork.WelcomeActivity"
            android:excludeFromRecents="true"
            android:label="@string/welcomeToPressureNET"
            android:theme="@style/CustomThemeDialog" >
        </activity>
        <activity
            android:name="ca.cumulonimbus.barometernetwork.WhatsNewActivity"
            android:excludeFromRecents="true"
            android:label="What's New"
            android:theme="@style/CustomThemeDialog" >
        </activity>
        <activity
            android:name="ca.cumulonimbus.barometernetwork.SearchLocationsActivity"
            android:excludeFromRecents="true"
            android:label="Search Locations"
            android:theme="@style/CustomThemeDialog" >
        </activity>
        <activity
            android:name="ca.cumulonimbus.barometernetwork.EditLocationActivity"
            android:excludeFromRecents="true"
            android:label="Location Details"
            android:theme="@style/CustomThemeDialog" >
        </activity>
        <activity
            android:name="ca.cumulonimbus.barometernetwork.BarometerNetworkActivity"
            android:label="@string/app_name"
            android:logo="@drawable/ic_launcher"
            android:theme="@style/CustomMainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.cumulonimbus.barometernetwork.ConditionsAnimationSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="Animation settings"
            android:theme="@style/CustomThemeDialog" >
        </activity>

        <receiver android:name="ca.cumulonimbus.barometernetwork.NotificationSender" >
            <intent-filter>
                <action android:name="ca.cumulonimbus.pressurenetsdk.PRESSURE_CHANGE_ALERT" />
                <action android:name="ca.cumulonimbus.pressurenetsdk.LOCAL_CONDITIONS_ALERT" />
                <action android:name="ca.cumulonimbus.pressurenetsdk.CONDITION_SENT_TOAST" />
                <action android:name="ca.cumulonimbus.pressurenetsdk.PRESSURE_SENT_TOAST" />
                <action android:name="ca.cumulonimbus.pressurenetsdk.WEATHER_FORECAST_ALERT" />
                <action android:name="ca.cumulonimbus.barometernetwork.CANCEL_CONDITION" />
                <action android:name="ca.cumulonimbus.barometernetwork.CANCEL_ALERT" />
                <action android:name="ca.cumulonimbus.barometernetwork.CANCEL_PRESSURE" />
            </intent-filter>
        </receiver>
        <receiver android:name="ca.cumulonimbus.barometernetwork.WidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="ca.cumulonimbus.barometernetwork.WidgetProvider.ACTION_SUBMIT_AND_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver
            android:name="ca.cumulonimbus.barometernetwork.ConditionsWidgetProvider"
            android:label="PressureNet Conditions" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="ca.cumulonimbus.barometernetwork.ConditionsWidgetProvider.ACTION_UPDATEUI" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/cc_widget_info" />
        </receiver>
        <receiver android:name="ca.cumulonimbus.barometernetwork.GeneralBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="ca.cumulonimbus.pressurenetsdk.CbAlarm"
            android:process=":remote" >
            <intent-filter>
                <action android:name="ca.cumulonimbus.pressurenetsdk.START_ALARM" >
                </action>
            </intent-filter>
        </receiver>

        <receiver
            android:name="ca.cumulonimbus.barometernetwork.ForecastAlarm">
            <intent-filter>
                <action android:name="ca.cumulonimbus.barometernetwork.ACTION_UPDATE_FORECAST" >
                </action>
            </intent-filter>
        </receiver>
        
        <service
            android:name="ca.cumulonimbus.barometernetwork.WidgetButtonService"
            android:enabled="true" >
            <intent-filter>
                <action android:name="ca.cumulonimbus.barometernetwork.WidgetProvider.ACTION_UPDATEUI" />
            </intent-filter>
        </service>
        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>